@using Microsoft.AspNetCore.Localization

@inject LocalizationService LocalizeService

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Backoffice</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @functions {
        string GetCurrentTheme()
        {
            var themeName = Context.Request.Cookies["CurrentTheme"];
            if (string.IsNullOrEmpty(themeName))
                themeName = "light";
            return themeName;
        }
    }
    <link rel="stylesheet" href="~/css/@(GetCurrentTheme()).min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Site.css" asp-append-version="true"/>
    <script src="https://unpkg.com/devextreme-quill@21_2/dist/dx-quill.min.js"></script>
    <script src="~/js/vendor.js" asp-append-version="true"></script>
</head>

<body class="dx-viewport">
    <div id="app-side-nav-outer-toolbar">
        <div class="layout-header">
            @{
                var requestCulture = Context.Features.Get<IRequestCultureFeature>();
                var uiCulture = requestCulture.RequestCulture.UICulture.Name;
            }
            @(Html.DevExtreme().Toolbar()
                .Items(items => {
                    items.Add()
                        .Widget(w => w.Button()
                            .Icon("menu")
                            .OnClick("VerticalTec_Backoffice.onMenuButtonClick"))
                            .Location(ToolbarItemLocation.Before)
                            .CssClass("menu-button");
                    items.Add()
                        .Html("<div>Backoffice</div>")
                            .Location(ToolbarItemLocation.Before)
                            .CssClass("header-title");
                    items.Add()
                        .Widget(w => w.SelectBox()
                            .Width(140)
                            .Value(uiCulture)
                            .DataSource(LocalizeService.Locales)
                            .OnValueChanged("VerticalTec_Backoffice.selectBoxLanguageChanged")
                            .ValueExpr("LangCode")
                            .DisplayExpr("LangName"))
                            .LocateInMenu(ToolbarItemLocateInMenuMode.Auto)
                            .Location(ToolbarItemLocation.After);
                    items.Add()
                        .Widget(w => w.SelectBox()
                            .Width(140)
                            .Value(GetCurrentTheme())
                            .DataSource(new[] {
                                new { ThemeName="light", DisplayName="Light" },
                                new { ThemeName ="light-green", DisplayName="Light Green" },
                                new { ThemeName ="dark", DisplayName="Dark" },
                                new { ThemeName ="material.light-blue", DisplayName="Material Light Blue" },
                                new { ThemeName ="material.light-blue-compact", DisplayName="Material Light Blue Compact" },
                            })
                            .OnValueChanged("VerticalTec_Backoffice.selectBoxThemeNameChanged")
                            .ValueExpr("ThemeName")
                            .DisplayExpr("DisplayName"))
                            .LocateInMenu(ToolbarItemLocateInMenuMode.Auto)
                            .Location(ToolbarItemLocation.After);
                    }))
        </div>
        <div class="layout-body layout-body-hidden">
            @(Html.DevExtreme().Drawer()
            .ID("layout-drawer")
            .Position(DrawerPosition.Left)
            .Opened(new JS("VerticalTec_Backoffice.restoreDrawerOpened()"))
            .Content(@<text>
                        <div id="layout-drawer-scrollview" class="with-footer">
                            <div class="container p-3">
                                @RenderBody()
                            </div>
                        </div>
                    </text>)
            .Template(new TemplateName("navigation-menu"))
            )
        </div>
    </div>

    @using (Html.DevExtreme().NamedTemplate("navigation-menu"))
    {
            <div class="menu-container dx-swatch-@GetCurrentTheme()-additional">
            @functions {
            string GetUrl(string action, string controller = "") => Url.Action(action, controller);
            string GetCurrentUrl() => Url.Action(ViewContext.RouteData.Values["action"].ToString());
            bool IsCurrentUrl(string action, string controller = "") => GetUrl(action, controller) == GetCurrentUrl();
        }
        @(Html.DevExtreme().TreeView()
            .Items(items => {
                items.Add()
                    .Text("Form input")
                    .Option("path", GetUrl("FormInput", "Demo"))
                    .Selected(IsCurrentUrl("FormInput", "Demo"));
                items.Add()
                    .Text("Data Grid")
                    .Option("path", GetUrl("DataGrid", "Demo"))
                    .Selected(IsCurrentUrl("DataGrid", "Demo"));
                items.Add()
                    .Text("Pivot Grid")
                    .Option("path", GetUrl("PivotGrid", "Demo"))
                    .Selected(IsCurrentUrl("PivotGrid", "Demo"));
                items.Add()
                    .Text("Chart")
                    .Option("path", GetUrl("Chart", "Demo"))
                    .Selected(IsCurrentUrl("Chart", "Demo"));
                items.Add()
                    .Text("HTML Editor")
                    .Option("path", GetUrl("HTMLEditor", "Demo"))
                    .Selected(IsCurrentUrl("HTMLEditor", "Demo"));
                items.Add()
                    .Text("Grid Example")
                    .Option("path", GetUrl("GridExample", "Demo"))
                    .Selected(IsCurrentUrl("GridExample", "Demo"));
             })
             .ExpandEvent(TreeViewExpandEvent.Click)
             .SelectionMode(NavSelectionMode.Single)
             .Width(250)
             .OnItemClick("VerticalTec_Backoffice.onTreeViewItemClick")
             .SearchEnabled(true)
        )
        </div>
    }

    <script>

        var VerticalTec_Backoffice = (function () {

            var DRAWER_OPENED_KEY = "VerticalTec_Backoffice-drawer-opened";

            var breakpoints = {
                xSmallMedia: window.matchMedia("(max-width: 599.99px)"),
                smallMedia: window.matchMedia("(min-width: 600px) and (max-width: 959.99px)"),
                mediumMedia: window.matchMedia("(min-width: 960px) and (max-width: 1279.99px)"),
                largeMedia: window.matchMedia("(min-width: 1280px)")
            };

            function getDrawer() {
                return $("#layout-drawer").dxDrawer("instance");
            }

            function restoreDrawerOpened() {
                var isLarge = breakpoints.largeMedia.matches;
                if (!isLarge)
                    return false;

                var state = sessionStorage.getItem(DRAWER_OPENED_KEY);
                if (state === null)
                    return isLarge;

                return state === "true";
            }

            function saveDrawerOpened() {
                sessionStorage.setItem(DRAWER_OPENED_KEY, getDrawer().option("opened"));
            }

            function updateDrawer() {
                var isXSmall = breakpoints.xSmallMedia.matches,
                    isLarge = breakpoints.largeMedia.matches;

                getDrawer().option({
                    openedStateMode: isLarge ? "shrink" : "overlap",
                    revealMode: isXSmall ? "slide" : "expand",
                    closeOnOutsideClick: isLarge ? false : true,
                    minSize: 0,//isXSmall ? 0 : 60,
                    shading: !isLarge,
                });
            }

            function init() {
                $("#layout-drawer-scrollview").dxScrollView({ direction: "vertical" });

                $.each(breakpoints, function (_, size) {
                    size.addListener(function (e) {
                        if (e.matches)
                            updateDrawer();
                    });
                });

                updateDrawer();
                $('.layout-body').removeClass('layout-body-hidden');
            }

            function navigate(url, delay) {
                if (url)
                    setTimeout(function () { location.href = url }, delay);
            }

            function onMenuButtonClick() {
                getDrawer().toggle();
                saveDrawerOpened();
            }

            function onTreeViewItemClick(e) {
                var drawer = getDrawer();
                var savedOpened = restoreDrawerOpened();
                var actualOpened = drawer.option("opened");

                if (!actualOpened) {
                    drawer.show();
                } else {
                    var willHide = !savedOpened || !breakpoints.largeMedia.matches;
                    var willNavigate = !e.itemData.selected;

                    if (willHide)
                        drawer.hide();

                    if (willNavigate)
                        navigate(e.itemData.path, willHide ? 400 : 0);
                }
            }

            function selectBoxLanguageChanged(args) {
                var url = '@Url.Action("SetLanguage", "Home")';
                var returnUrl = '@GetCurrentUrl()';
                window.location.href = url + '?culture=' + args.value + '&returnUrl=' + returnUrl;
            }

            function selectBoxThemeNameChanged(args) {
                document.cookie = "CurrentTheme=" + args.value + ";path=/";
                window.location.reload();
            }

            return {
                init: init,
                restoreDrawerOpened: restoreDrawerOpened,
                onMenuButtonClick: onMenuButtonClick,
                onTreeViewItemClick: onTreeViewItemClick,
                selectBoxLanguageChanged: selectBoxLanguageChanged,
                selectBoxThemeNameChanged: selectBoxThemeNameChanged
            };
        })();

        document.addEventListener("DOMContentLoaded", function documentReady() {
            this.removeEventListener("DOMContentLoaded", documentReady);
            VerticalTec_Backoffice.init();
        });
    </script>
</body>

</html>
